{% extends 'layouts/master.html.twig' %}

{% block body %}
    <div>
        {% if error %}
            <div>
                {{ error.messagekey|trans(error.messageData,'security') }}
            </div>
        {% endif %}
        {% if app.user %}
            {{ dump(app.user) }}
        {% endif %}
        <form action="{{ path('login') }}" method="POST" >
            <label for="username">Login</label><br/>
            <input type="text" id="username" name="_username" value="{{ last_username }}" ><br/>

            <label for="password">Contrase&ntilde;a</label><br/>
            <input type="password" id="password" name="_password" ><br/>
            <br/>
            <input type="submit" value="Entrar" />
        </form>

    </div>
{% endblock %}
